
.aboutpage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555555;
    font-size: 18px;
    width: 100%;
}

.aboutpage-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 768px) {
    .aboutpage-wrapper {
        flex-direction: row;
    }
}

.aboutpage-title-wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}

.abouttitle {
    text-align: center;
    font-size: 2rem;
    color: white;
}

.my-icon {
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;
    border-radius: 55px;
}

.self-introduction {
    background-color: #ffc60a;
    color: #222222;
    font-size: 1rem;
    font-family: "メイリオ";
    padding: 20px;
    margin: 2%;
    border-radius: 20px;
    word-wrap: normal;
    overflow-x: hidden;
    overflow-y: auto;
}