.skillpage {
    width: 100%;
}

.skillpage-wrapper {
    display: block;
    justify-items: center;
    width: 100%;
    padding-bottom: 2rem;
}

.skillpage-comment {
    margin: 30px;
    position: relative;
    font-family: "メイリオ", sans-serif;
    font-size: 1rem;
    color: white;
}

@media (min-width: 768px) {
    .skillpage-comment {
        font-size: 1.5rem;
    }
}

.langbox-wrapper {
    display: grid;
    width: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
}
@media (min-width: 768px) {
    .langbox-wrapper {
        width: max-content;
        gap: 3rem;
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

.langbox {
    background-color: #ffc60a;
    border-radius: 30px;
    height: 270px;
    width: 350px;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 2%;
    color: black;
}

.lang-icon {
    width: 64px;
    height: 64px;
    padding: 5px;
    object-fit: contain;
    background-color: white;
    /* border: solid #444444 1px; */
    border-radius: 10px;
}

.langbox-header {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.lang-name { 
    padding-left: 1.5rem;
    width: 21%;
    height: 4%;
    font-size: 32px;
    object-fit: contain;
}

.langbox-comment {
    padding-top: 1rem;
    margin-left: 0px;
    margin-right: 5%;
    font-size-adjust: initial;
    font-family: "メイリオ"; 
}

